.carre{
  width: 400px;
  max-width: 400px;
  height: 400px;
  border-color: black;
  border-width: 1px;
  border-style: double;
  margin: auto;
  background-color: white;
}

.padding{
  padding-top: 200px;
}

.flex{
  display: flex;
}
